
@{
    ViewData["Title"] = "Welcome";
}

<h1>Bienvenido</h1>
<ul>
    @{
        int numVeces = (int)ViewData["numVeces"];
        for (int i = 0; i < numVeces; i++) 
        { 
        <li>
        
        @ViewData["nombre"]  veces mostrado= @i

        
        </li>

        }

    }
</ul>

